<div class="row">
  <div class="medium-4 columns panel callout">
    <%= form_tag("/packages", method: "post") do %>
    <%= label_tag(:recipient_name, "Recipient Name:") %>
    <%= text_field_tag :recipient_name, nil, required: true %>
    <br>


    <%= label_tag(:recipient_company, "Recipient Company:") %>
    <%= text_field_tag(:recipient_company) %>
    <br>


    <%= label_tag(:recipient_street_1, "Recipient Street 1:") %>
    <%= text_field_tag :recipient_street_1, nil, required: true  %>
    <br>


    <%= label_tag(:recipient_street_2, "Recipient Street 2:") %>
    <%= text_field_tag(:recipient_street_2) %>
    <br>


    <%= label_tag(:recipient_city, "Recipient City:") %>
    <%= text_field_tag :recipient_city, nil, required: true %>
    <br>


    <%= label_tag(:recipient_state, "Recipient State:") %>
    <%= text_field_tag :recipient_state, nil, required: true %>
    <br>


    <%= label_tag(:recipient_zip, "Recipient Zip:") %>
    <%= number_field_tag :recipient_zip, nil, required: true, min: "10000", max: "99999" %>
    <br>

  </div>
  <div class="medium-4 columns panel">
    <%= label_tag(:sender_name, "Sender Name:") %>
    <%= text_field_tag :sender_name, nil, required: true %>
    <br>


    <%= label_tag(:sender_company, "Sender Company:") %>
    <%= text_field_tag(:sender_company) %>
    <br>


    <%= label_tag(:sender_street_1, "Sender Street 1:") %>
    <%= text_field_tag :sender_street_1 , nil, required: true %>
    <br>


    <%= label_tag(:sender_2, "Sender Street 2:") %>
    <%= text_field_tag(:sender_street_2) %>
    <br>


    <%= label_tag(:sender_city, "Sender City:") %>
    <%= text_field_tag :sender_city , nil, required: true %>
    <br>


    <%= label_tag(:sender_state, "Sender State:") %>
    <%= text_field_tag :sender_state , nil, required: true %>
    <br>


    <%= label_tag(:sender_zip, "Sender Zip:") %>
    <%= number_field_tag :sender_zip , nil, required: true, min: "10000", max: "99999" %>
    <br>


    <%= label_tag(:sender_phone, "Sender Phone:") %>
    <%= number_field_tag(:sender_phone) %>
  </div>

  <div class="medium-4 columns panel callout">
    <%= label_tag(:parcel_length, "Parcel Length:") %>
    <%= number_field_tag :parcel_length , nil, required: true, max: "27" %>
    <br>


    <%= label_tag(:parcel_width, "Parcel Width:") %>
    <%= number_field_tag :parcel_width , nil, required: true, max: "17" %>
    <br>


    <%= label_tag(:parcel_height, "Parcel Height:") %>
    <%= number_field_tag :parcel_height , nil, required: true, max: "17" %>
    <br>

    <%= label_tag(:parcel_weight, "Parcel Weight:") %>
    <%= number_field_tag :parcel_weight , nil, required: true, max: "25" %>
    <div class="text-center">
      <%= submit_tag("Buy Postage", class: "button success")%>
  <% end %>
    </div>
  </div>

</div>